include README.md
include LICENSE
include requirements.txt
recursive-include contracts *.sol
recursive-include examples *.py
recursive-include evmdeploy *.py
recursive-include evmdeploy/artifacts *.json
